<%- include ('../parts/header') %>
 <%- include ('../parts/sidebar') %>

<style>

 

</style>
<div class="clearfix"></div>

<div class="my-2 px-2">
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/admin/offer">الرئيسية</a>
                </li>
                <li class="breadcrumb-item active">الاعلانات</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="content-body">
        <!-- DOM - jQuery events table -->
        <section id="dom">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-title">جميع الاعلانات</h4>
                  <a class="heading-elements-toggle"
                    ><i class="la la-ellipsis-v font-medium-3"></i
                  ></a>
                  <div class="heading-elements">
                    <ul class="list-inline mb-0">
                      <li>
                        <a data-action="collapse"><i class="ft-minus"></i></a>
                      </li>
                      <li>
                        <a data-action="reload"><i class="ft-rotate-cw"></i></a>
                      </li>
                      <li>
                        <a data-action="expand"><i class="ft-maximize"></i></a>
                      </li>
                      <li>
                        <a data-action="close"><i class="ft-x"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
  
                <div class="card-content collapse show">
                  <div class="card-body card-dashboard">
                    <table
                      class="table w-100 text-center display nowrap table-striped table-bordered scroll-horizontal"
                    >
                      <thead class="">
                        
                       <tr>
                        <th>Name</th>
                        <th>Desc</th>
                        <th>Price</th>
                        <th>Stock</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Products</th>
                        <th>Image</th>
                        <th>Operations</th>
                      </tr>
                      </thead>
                      <tbody>
                        <% for(let i=0;i< offers.length;i++ ) { %> 
                          <tr>
                           <td class="text-primary"> <%= offers[i].name %>  </td>
                           <td> <%= offers[i].desc %>  </td>
                           <td class="text-success"> <%= offers[i].price %>  </td>
                           <td> <span class="badge badge-warning"><%= offers[i].offer_stock %></span>  </td>
                           <td> <%= new Date(offers[i].offer_start).toLocaleDateString('sv')+" "+new Date(offers[i].offer_start).toLocaleTimeString('en-GB') %>  </td>
                           <td> <%= new Date(offers[i].offer_end).toLocaleDateString('sv')+" "+new Date(offers[i].offer_end).toLocaleTimeString('en-GB') %>  </td>

                           <td class="text-success"> 
                          <% for( let j = 0; j < offers[i].product.length; j++ ) { %>
                          <%= offers[i].product[j].name %> 
                          ,
                          <% } %>  
                          </td>
                           <td><img class="img-thumbnial" src="/uploads/offer/<%= offers[i].image %>" height="80" width="100" alt="">   </td>
                           <td>
                          <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="delete btn btn-danger box-shadow-3 mr-1 "  href="/admin/offer/delete/<%= offers[i]._id %>"  ><i class="ft-delete"></i></a>             
                            <a class="btn btn-info box-shadow-3 mr-1"  href="/admin/offer/update/<%= offers[i]._id %>"><i class="ft-edit"></i></a>
                          </div>
                            </td>
                          </tr>
               
                         <%}%> 
                      </tbody>
                    </table>
                    <div class="justify-content-center d-flex"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<%- include ('../parts/footer') %>
