<!-- Begin SideBar-->
<div
 class="main-menu menu-static menu-light menu-accordion menu-shadow"
  data-scroll-to-actice="true" style="height: 100% !important;">

  <div class="main-menu-content h-100" style="height: 100% !important;">
    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
      <li class="nav-item has-sub open">
        <a href="/admin"
          ><i class="la la-mouse-pointer"></i
          ><span class="menu-title" data-i18n="nav.add_on_drag_drop.main"
            >Home
          </span></a
        >
      </li>

      <li class="nav-item has-sub ">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main">Products </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.products %> </span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/products/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
          <li class="">
            <a class="menu-item" href="/admin/products" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>


    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
        <li class="nav-item has-sub">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main"> category </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.categories %></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/category/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
          <li class="">
            <a class="menu-item" href="/admin/category" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>

    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
        <li class="nav-item has-sub">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main"> Scope </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.scope %></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/Scope/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
          <li class="">
            <a class="menu-item" href="/admin/Scope" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>


    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
        <li class="nav-item has-sub">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main"> Stock Type </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.stock_type %></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/Stock_type/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
          <li class="">
            <a class="menu-item" href="/admin/Stock_type" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>


    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
        <li class="nav-item has-sub">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main"> orders </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.orders %></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/order/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
           
          <li class="">
            <a class="menu-item" href="/admin/order" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>


    <ul
      class="navigation navigation-main"
      id="main-menu-navigation"
      data-menu="menu-navigation"
    >
        <li class="nav-item has-sub">
        <a href=""
          ><i class="la la-home"></i>
          <span class="menu-title" data-i18n="nav.dash.main"> offers </span>
          <span class="badge badge badge-info badge-pill float-right mr-2"><%= models_counts.offers%></span>
        </a>
        <ul class="menu-content">
          <li class="">
            <a class="menu-item" href="/admin/offer/create" data-i18n="nav.dash.crypto"
              >Add
            </a>
          </li>
          <li class="">
            <a class="menu-item" href="/admin/offer" data-i18n="nav.dash.ecommerce">
              Show all</a>
          </li>
          
        </ul>
      </li>

    </ul>

    
   
  </div>
</div>
<!--End Sidebare-->
